<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo 1</title>
    <link rel="stylesheet" href="/fundamental-class/selectedStyle.css">
</head>
<body>
    <header>
        <div class="logo">RE<br>VOU</div>

        <nav>
            <ul class="menu>
                <li><a href="#">Home</a>
                <li><a href="#">My Profile</a>
                <li class="dropdown">
                    <a href="#">Portfolio</a>
                    <ul class="submenu">
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Website</a></li>
                    </ul>
                </li>
                </li>
            </ul>
        </nav>

    </header>
    
</body>
</html>