<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <header>
    <div class="logo">RE<br>VO</div>
    <nav>
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">My Profile</a></li>
        <li class="dropdown">
          <a href="#">Portfolio</a>
          <ul class="submenu">
            <li><a href="#">Design</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">Website</a></li>
          </ul>
        </li>
        <li><a href="#">Message Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Hi <span class="highlight">User</span>, Welcome To Website</h1>
    <p>Ini adalah website latihan pertama</p>
    <button onclick="window.location.href='/'" class="logout-button">Logout</button>
  </main>
</body>
</html>